$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaaaaa;

$white: #ffffff;

// Navigation;
$nav-background: $grey;
$nav-text: $white;
$nav-link-active: bold;
$icon-width: 40px;
