.schedule {
  table {
    table-layout: fixed;
  }
  
  th {
    text-align: center;
  }

  tbody {
    tr td:first-child {
      text-align: center;
    }
  }

  td.busy {
    background-color: $busy-blue;
    word-wrap: break-word;
  }
}
